<%- include('partials/head') %> <%- include('partials/navbar') %>
<h1>The Home Page <%= 'hello world'.toUpperCase() %></h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores magnam
  tempore, dolorem, ut quasi sit nulla vitae ab ipsam nisi, soluta similique
  possimus libero quo rem velit cum ducimus aliquam!
</p>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores magnam
  tempore, dolorem, ut quasi sit nulla vitae ab ipsam nisi, soluta similique
  possimus libero quo rem velit cum ducimus aliquam!
</p>
<%- include('partials/footer') %>
